<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.SysManageMapper">
  <select id="findAll" resultType="map">
     select * from [group];
  </select>
  <select id="findJtDc" resultType="map">
     select * from [group] where 1=1
     <if test="name!=null and name != ''">
      and name like '%${name}%' 
     </if>
     <if test="type!=null and type!=''">
      and type=${type}
     </if>
     <if test="id!=null and id!=''">
      and id=${id}
     </if>
     <if test="pid!=null and pid!=''">
      and pid=${pid}
     </if>
  </select>
  <!-- 查询机组 -->
  <select id="findUnits" resultType="map">
     select * from [unit] where 1=1
     <if test="pid!=null and pid!=''">
      and pid=${pid}
     </if>
  </select>
  
  <!-- 测点查询 -->
  <select id="findTags" resultType="map">
    <!-- 电厂测点 -->
    <if test="type == 2">
      select t.id id,t.type type,tiu.id tiu_id,i.id index_id,g.id dc_id,t.name,t.code,t.unit,t.maxval,t.minval,t.createtime,t.type
      from tags t,[group] g,[index] i,tag_index_unit tiu
      where t.id=tiu.tag_id and i.id=tiu.index_id and  g.id=tiu.group_id 
       <if test="group_id!=null and group_id!=''">
        and group_id=${group_id}
       </if>
       <if test="name!=null and name != ''">
        and name like '%${name}%' 
      </if>
    </if>
    <!-- 机组测点 -->
    <if test="type == 3">
      select t.id id,t.type type,tiu.id tiu_id,i.id index_id,u.id jz_id,t.name,t.code,t.unit,t.maxval,t.minval,t.createtime,t.type
      from tags t,unit u,[index] i,tag_index_unit tiu
      where t.id=tiu.tag_id and i.id=tiu.index_id and u.id=tiu.unit_id 
     <if test="unit_id!=null and unit_id!=''">
       and unit_id=${unit_id}
     </if>
     <if test="name!=null and name != ''">
      and name like '%${name}%' 
     </if>
   </if>
  </select>
  
  <!-- 查询指标 -->
  <select id="findIndex" resultType="map">
    select * from [index] where 1=1
    <if test="name!=null and name!=''">
      and name like '%${name}%'
    </if>
  </select>
  <!-- 保存集团电厂 -->
  <select id="saveJtDc" resultType="map">
    declare @id int
    begin
         select @id=id from [group] where id=#{id}
           if @id is null
             insert into [group](name, type, pid, code, propertise, tel, address, postcode, unit_count, sum_valume, note) values(#{name},#{type},#{pid},#{code},#{propertise}, #{tel}, #{address}, #{postcode},#{unit_count}, #{sum_valume}, #{note})
           else
             update [group] set name=#{name},pid=#{pid},type=#{type},code=#{code},propertise=#{propertise},tel=#{tel},address=#{address},postcode=#{postcode},unit_count=#{unit_count},sum_valume=#{sum_valume},note=#{note} where id=@id
       end
  </select>
  
  
  <select id="saveUnit" resultType="map">
     declare @id int
    begin
         select @id=#{unit.id}
           if @id is null
             insert into [unit](name, full_name,type, pid, code,putdate,add_valume,state,rated_power,absorb_grid_voltage) 
             values(#{unit.name},#{unit.full_name},#{unit.type},#{unit.pid},#{unit.code},#{unit.putdate}, #{unit.add_valume}, #{unit.state},#{unit.rated_power}, #{unit.absorb_grid_voltage})
           else
             update [unit] set name=#{unit.name},full_name=#{unit.full_name},pid=#{unit.pid},type=#{unit.type},code=#{unit.code},putdate=#{unit.putdate},add_valume=#{unit.add_valume},state=#{unit.state},rated_power=#{unit.rated_power},absorb_grid_voltage=#{unit.absorb_grid_voltage} where id=@id
       end
  </select>
  
  <!-- 保存指标 -->
  <select id="saveIndex" resultType="map">
    declare @id int
     select @id=#{id}
     if @id is null
         insert into [index](name,code,unit,note) values(#{name},#{code},#{unit},#{note})
     else
         update [index] set name=#{name},code=#{code},unit=#{unit},note=#{note} where id=@id
  </select>
  <!-- 保存测点 -->
  <select id="saveTage" resultType="map">
     <!-- 保存电厂测点 -->
     <if test="tage.type == 2">
          declare @id int
         begin
           select @id=id from [tags] where id=#{tage.id}
           if @id is null
             begin
               insert into [tags](name,type,code,unit,minval,maxval,note,createtime) values(#{tage.name},#{tage.type},#{tage.code},#{tage.unit},#{tage.minval},#{tage.maxval},#{tage.note},GETDATE())
               select top 1 @id=id from [tags] order by createtime desc
               insert into [tag_index_unit](tag_id,index_id,group_id) values(@id,#{tage.index_id},#{tage.dc_id})
             end
           else
             begin
               update [tags] set name=#{tage.name},type=#{tage.type},code=#{tage.code},unit=#{tage.unit},minval=#{tage.minval},maxval=#{tage.maxval},note=#{tage.note},createtime=GETDATE() where id=@id
               update [tag_index_unit] set index_id = #{tage.index_id} where tag_id=@id
             end 
         end
     </if>
     <!-- 保存机组测点 -->
     <if test="tage.type == 3">
          declare @id int
         begin
           select @id=id from [tags] where id=#{tage.id}
           if @id is null
             begin
               insert into [tags](name,type,code,unit,minval,maxval,note,createtime) values(#{tage.name},#{tage.type},#{tage.code},#{tage.unit},#{tage.minval},#{tage.maxval},#{tage.note},GETDATE())
               select top 1 @id=id from [tags] order by createtime desc
               insert into [tag_index_unit](tag_id,index_id,unit_id) values(@id,#{tage.index_id},#{tage.jz_id})
             end
           else
             begin
               update [tags] set name=#{tage.name},type=#{tage.type},code=#{tage.code},unit=#{tage.unit},minval=#{tage.minval},maxval=#{tage.maxval},note=#{tage.note},createtime=GETDATE() where id=@id
               update [tag_index_unit] set index_id = #{tage.index_id} where tag_id=@id
             end 
         end     
     </if>
  </select>
  
  
  <select id="delJtDc" resultType="map">
      declare @type int
        set @type=#{type}
       if @type = 1
         begin
           delete from [group] where id=#{id}
           delete from [group] where pid=#{id}
         end
       else if @type = 2
         begin
           delete from [group] where id=#{id}
           delete from [unit] where pid=#{id}
         end
       
  </select>
  <!-- 删除机组 -->
  <select id="delUnit" resultType="map">
    delete from [unit] where id=#{id}
  </select>
  <!-- 删除指标 -->
  <select id="delIndex" resultType="map">
    delete from [index] where id=#{id}
  </select>
  <!-- 删除测点 -->
  <select id="delTag" resultType="map">
    begin
      delete from [tags] where id=#{tage.id}
      delete from [tag_index_unit] where id=#{tage.tiu_id}
    end
  </select>
</mapper>